*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body{
  width: 75%;
  margin: auto;
}

header{
  height: 80px;
  margin: 20px 0;
  background-color: #e579e6;
}

footer{
  height: 80px;
  margin: 10px 0;
  background-color: #8801fe;
}

aside, section{
  float: left;
  margin-top: 80px;
}

.jumbotron{
  min-height: 300px;
  background-color: #e1d67a;
}

.box-main{
  min-height: 400px;
  background-color: #abcfe7;
  margin-top: 40px;
}

aside{
  width: 20%;
  min-height: 320px;
  border-top: 10px solid #0685f8;
  border-bottom: 10px solid #0685f8;

}

section{
  width: 60%;
  min-height: 320px;
  border: 10px solid #0685f8;

}